# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.ropeproject

# Build dir

build

# Clangd
.cache
compile_commands.json

# Android projects
.gradle
.cxx
.idea
local.properties

# Lua release source code
src/app/jila_app.cpp

# Claude code stuff :-)
vibe.sh

# Infer static-analyzer
infer-out

# Vscode
.vscode

# My notes
.note

# Sqlite
*.sqlite
*.db

__pycache__
*.egg-info
wip/

# App .bundle
*.bundle